@charset "UTF-8";
* {
    font-family: Arial, '微軟正黑體'; }

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; }

body {
    background-image: none; }

#screen, #products {
    left: auto;
    right: auto;
    width: 100%;
    height: 100%; }

#products_create {
    padding: 40px 150px;
    box-sizing: border-box; }
#products_create h1, #products_create h2 {
    margin: 0; }
#products_create #product_infos {
    padding: 10px;
    border-radius: 5px;
    background-color: #FED3A3;
    line-height: 40px;
    margin-top: 30px; }
#products_create label, #products_create input {
    font-size: 20px; }
#products_create label {
    display: inline-block;
    width: 150px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center; }
#products_create input {
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    border: none;
    font-size: 20px;
    width: 750px; }
#products_create select {
    border: none;
    font-size: 20px;
    width: 770px; }
#products_create .submit {
    text-align: center;
    margin-top: 10px; }
#products_create #submit {
    display: block;
    width: 100%;
    background-color: #FA8B00;
    border-radius: 5px;
    color: white;
    cursor: pointer; }
