<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>探索課程</title>
    <!--  index.css  -->
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <!--  getCourses.css  -->
    <link rel="stylesheet" th:href="@{/css/getCourses.css}">
    <!--  font-awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!--  jquery  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
            integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--  vue.js  -->
    <script
            src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js">
    </script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js">
    </script>

</head>
<body>
<header>
    <nav class="navbar" th:include="index :: navbar"></nav>
</header>
<div id="screen">
    <div id="vm_courses">
        <div class="search">
            <i id="search_icon" class="fa-solid fa-magnifying-glass" v-on:click="updatePage(querys)"></i>
            <input id="search" type="search" placeholder="熱門搜尋：日文" v-model="querys.search">
        </div>
        <div id="page_importing" v-if="courses.length === 0 && querys.search === null">課程載入中...</div>
        <div id="search_result" v-if="courses.length === 0 && querys.search !== null">很抱歉，目前沒有符合的相關搜尋課程名稱。</div>
        <div class="courses" v-for="course in courses">
            <div class="teacher_img" v-bind:style="'background-image: url(' + course.teacherImageUrl + ')'"></div>
            <div class="top">
                <div class="cover_img" v-bind:style="'background-image: url(' + course.coverImageUrl + ')'"></div>
                <div class="status">募資中</div>
            </div>
            <h2 class="title">{{course.title}}</h2>
            <div class="infos">
                <div class="infos_top">
                    <div class="pull_left">預購價
                        <span class="proposal_price">NT${{course.proposalPrice}}</span>
                    </div>
                    <div class="pull_right">剩
                        <span class="deadline">{{parseInt((new Date(course.proposalDueTime) - new Date()) / 1000 / 60 / 60 / 24)}}</span>
                        天
                    </div>
                </div>
                <div class="infos_middle">
                    <div class="percentage_line"
                         v-bind:style="'width: ' + parseFloat(course.currentNumSoldTickets/course.criteriaNumSoldTickets).toPrecision(3)*100"></div>
                </div>
                <div class="infos_bottom">已募資
                    <span class="percentage">{{parseFloat(course.currentNumSoldTickets / course.criteriaNumSoldTickets).toPrecision(3) * 100}}</span>%
                </div>
            </div>
        </div>
        <div class="pagebar">
            <ul>
                <li v-for="page in pagination.pageNum" v-bind:id="page" v-on:click="changePage(page)">{{page}}</li>
            </ul>
        </div>
    </div>
</div>

<script>
    var datas = {};
    var courses = [];
    var query = {
        search: null,
        orderBy: null,
        limit: null,
        offset: null
    };
    var pagination = {
        currentPage: 1,
        pageNum: [],
        pageLimit: [],
        pageOffset: [],
    }
    var vm = new Vue({
        el: "#vm_courses",
        data: {
            datas: datas,
            courses: courses,
            querys: query,
            pagination: pagination
        },

        methods: {
            updatePage: function(query){
                callPage(query)
            },
            changePage: function(pageNum){
                vm.pagination.currentPage = pageNum;
                vm.querys.limit = vm.pagination.pageLimit[pageNum - 1];
                vm.querys.offset = vm.pagination.pageOffset[pageNum - 1];
                console.log("vm.pagination.currentPage： " + vm.pagination.currentPage);
                console.log("vm.querys.limit： " + vm.querys.limit);
                console.log("vm.querys.offset： " + vm.querys.offset);
                callPage(vm.querys);
                console.log("vm.querys： " + vm.querys);
                console.log("vm.querys.limit： " + vm.querys.limit);
                console.log("vm.querys.offset： " + vm.querys.offset);
            }
        },
        mounted: function () {
            callPage(query);
        }
    })

    function callPage(query){
        var str = "http://localhost:8080/products?search={search}&orderBy={orderBy}&limit={limit}&offset={offset}";
        str = (query.search === null) ? (str.replace("{search}", "")): (str.replace("{search}", query.search));
        str = (query.orderBy === null) ? (str.replace("{orderBy}", "")): (str.replace("{orderBy}", query.orderBy));
        str = (query.limit === null) ? (str.replace("{limit}", "")) : (str.replace("{limit}", query.limit));
        str = (query.offset === null) ? (str.replace("{offset}", "")) : (str.replace("{offset}", query.offset));
        console.log("url = " + str);
        $.ajax({
            method: "GET",
            url: str,
            success: function (data) {
                vm.datas = data;
                vm.courses = data.results
                var total = data.total;
                var limit = data.limit;
                var offset = data.offset;
                var pageTotal = parseInt(total/limit);
                (total%limit !== 0) ? pageTotal += 1 : pageTotal += 0
                vm.pagination.pageNum = Array.from({length: pageTotal}, (_, i) => i + 1)
                vm.pagination.pageLimit = Array.from({length: pageTotal}, x => limit)
                vm.pagination.pageOffset = Array.from(Array(pageTotal).keys()).map(x => x * 5 - 1);
                vm.pagination.pageOffset[0] = 0;
                console.log("vm.pages.pageNum： " + vm.pagination.pageNum);
                console.log("vm.pages.pageLimit： " + vm.pagination.pageLimit);
                console.log("vm.pages.pageOffset： " + vm.pagination.pageOffset);
                console.log("ajax成功，返回資料如下： " + data.results);
                console.log("Date: " + data.results[0].proposalDueTime)
                console.log("Date typeof: " + typeof (data.results[0].proposalDueTime))
            },
            error: function (error) {
                console.log("發生錯誤，錯誤代碼為： " + error.status);
            }
        })
    }
</script>
</body>
</html>