<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>探索課程</title>
    <!--  index.css  -->
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <!--  getProducts.css  -->
    <link rel="stylesheet" th:href="@{/css/getProducts.css}">
    <!--  font-awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!--  jquery  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
            integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--  vue.js  -->
    <script
            src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js">
    </script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js">
    </script>

</head>
<body>
<header>
    <nav class="navbar" th:include="index :: navbar"></nav>
</header>
<div id="screen">
    <div id="vm_products">
        <div class="search">
            <i id="search_icon" class="fa-solid fa-magnifying-glass" v-on:click="updatePage(querys)"></i>
            <input id="search" type="search" placeholder="熱門搜尋：口罩" v-model="querys.search">
        </div>
        <div id="page_importing" v-if="products.length === 0 && querys.search === null">商品載入中...</div>
        <div id="search_result" v-if="products.length === 0 && querys.search !== null">很抱歉，目前沒有相關的商品。</div>
        <div class="products" v-if="products.length !== 0">
            <table class="products_table">
                <thead>
                    <tr>
                        <td id="product_id">ID</td>
                        <td id="product_category">分類</td>
                        <td id="product_imageUrl">商品圖示</td>
                        <td id="product_name">商品名稱</td>
                        <td id="product_description">商品介紹</td>
                        <td id="product_stock">庫存</td>
                        <td id="product_price">價格</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="product in products">
                        <td class="product_id">{{product.productId}}</td>
                        <td class="product_category">{{product.category}}</td>
                        <td class="product_imageUrl"><img v-bind:src="product.imageUrl" alt="商品圖片"></td>
                        <td class="product_name">{{product.productName}}</td>
                        <td class="product_description" v-text="(product.description).substring(0, 80) + '...'">{{product.description}}</td>
                        <td class="product_stock">{{product.stock}}</td>
                        <td class="product_price">{{product.price}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pagebar">
            <ul>
                <li v-for="page in pagination.pageNum" v-bind:id="page" v-on:click="changePage(page)">{{page}}</li>
            </ul>
        </div>
    </div>
</div>

<script>
    var datas = {};
    var products = [];
    var query = {
        search: null,
        orderBy: null,
        limit: null,
        offset: null
    };
    var pagination = {
        currentPage: 1,
        pageNum: [],
        pageLimit: [],
        pageOffset: [],
    }
    var vm = new Vue({
        el: "#vm_products",
        data: {
            datas: datas,
            products: products,
            querys: query,
            pagination: pagination
        },

        methods: {
            updatePage: function(query){
                callPage(query)
            },
            changePage: function(pageNum){
                vm.pagination.currentPage = pageNum;
                vm.querys.limit = vm.pagination.pageLimit[pageNum - 1];
                vm.querys.offset = vm.pagination.pageOffset[pageNum - 1];
                console.log("vm.pagination.currentPage： " + vm.pagination.currentPage);
                console.log("vm.querys.limit： " + vm.querys.limit);
                console.log("vm.querys.offset： " + vm.querys.offset);
                callPage(vm.querys);
                console.log("result 1 id： " + vm.products[0].id);
                console.log("vm.querys： " + vm.querys);
                console.log("vm.querys.limit： " + vm.querys.limit);
                console.log("vm.querys.offset： " + vm.querys.offset);
            }
        },
        mounted: function () {
            callPage(query);
        }
    })

    function callPage(query){
        var str = "http://localhost:8080/products?search={search}&orderBy={orderBy}&limit={limit}&offset={offset}";
        str = (query.search === null) ? (str.replace("{search}", "")): (str.replace("{search}", query.search));
        str = (query.orderBy === null) ? (str.replace("{orderBy}", "")): (str.replace("{orderBy}", query.orderBy));
        str = (query.limit === null) ? (str.replace("{limit}", "")) : (str.replace("{limit}", query.limit));
        str = (query.offset === null) ? (str.replace("{offset}", "")) : (str.replace("{offset}", query.offset));
        console.log("url = " + str);
        $.ajax({
            method: "GET",
            url: str,
            success: function (data) {
                vm.datas = data;
                vm.products = data.results;
                var total = data.total;
                var limit = data.limit;
                var offset = data.offset;
                var pageTotal = parseInt(total/limit);
                (total%limit !== 0) ? pageTotal += 1 : pageTotal += 0
                vm.pagination.pageNum = Array.from({length: pageTotal}, (_, i) => i + 1)
                vm.pagination.pageLimit = Array.from({length: pageTotal}, x => limit)
                vm.pagination.pageOffset = Array.from(Array(pageTotal).keys()).map(x => x * 5);
                vm.pagination.pageOffset[0] = 0;
                console.log("vm.pages.pageNum： " + vm.pagination.pageNum);
                console.log("vm.pages.pageLimit： " + vm.pagination.pageLimit);
                console.log("vm.pages.pageOffset： " + vm.pagination.pageOffset);
                console.log("ajax成功，返回資料如下： " + data.results);
                console.log("Date: " + data.results[0].proposalDueTime)
                console.log("Date typeof: " + typeof (data.results[0].proposalDueTime))
            },
            error: function (error) {
                console.log("發生錯誤，錯誤代碼為： " + error.status);
            }
        })
    }
</script>
</body>
</html>